@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --p-pale-blue: hsl(225, 100%, 94%);
    --p-bright-blue: hsl(245, 75%, 52%);
    --p-soft-blue: hsla(245, 83%, 68%, 1);
    --p-white: hsl(0, 0%, 100%);
    --n-very-pale-blue: hsl(225, 100%, 98%);
    --n-desaturated-blue: hsl(224, 23%, 55%);
    --n-dark-blue: hsl(223, 47%, 23%);
    --primary-font: 'Red Hat Display', sans-serif;
}
html {
    font-size: 16px;
    font-family: var(--primary-font);
    background-color: var(--p-pale-blue);
}
body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 450px;
    box-shadow: 0px 30px 50px -25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.container img {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--p-white);
    padding: 48px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.text h1 {
    font-size: 28px;
    font-weight: 900;
    color: var(--n-dark-blue);
    margin-bottom: 16px;
}
.text > p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    color: var(--n-desaturated-blue);
    margin-bottom: 45px;
}
.text .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
}
.text .price .values {
    margin-left: 20px;
    margin-right: 95px;
}
.text .price .values p:nth-child(1){
    font-size: 1rem;
    font-weight: 900;
    color: var(--n-dark-blue);
    margin-bottom: 5px;
}
.text .price .values p:nth-child(2){
    font-size: 17px;
    font-weight: 500;
    color: var(--n-desaturated-blue);
}
.text .price a {
    font-size: 13px;
    font-weight: 900;
    color: var(--p-bright-blue);
}
.text .price a:hover {
    color: var(--p-soft-blue);
}
.text input {
    width: 354px;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: 900;
    color: var(--p-white);
    background-color: var(--p-bright-blue);
    cursor: pointer;
    margin-bottom: 32px;
}
.text input:hover {
    background-color: var(--p-soft-blue);
}
.text > a {
    font-size: 15px;
    font-weight: 900;
    color: var(--n-desaturated-blue);
    text-decoration: none;
}
.text > a:hover {
    color: var(--n-dark-blue);
}

@media (max-width: 425px) {
    .container {
        width: 377px;
    }
}
@media (max-width: 375px) {
    body {
        background-image: url(/images/pattern-background-mobile.svg);
    }
    .container {
        width: 327px;
    }
    .text h1 {
        font-size: 22px;
    }
    .text .price .values {
        margin-right: 50px;
    }
    .text .price .values p:nth-child(1) {
        font-size: 1rem;
    }
    .text input {
        width: 279px;
    }
    .text > a {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 300px;
    }
}