@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --p-pale-blue: hsl(225, 100%, 94%);
    --p-bright-blue: hsl(245, 75%, 52%);
    --p-soft-blue: hsla(245, 83%, 68%, 1);
    --p-white: hsl(0, 0%, 100%);
    --n-very-pale-blue: hsl(225, 100%, 98%);
    --n-desaturated-blue: hsl(224, 23%, 55%);
    --n-dark-blue: hsl(223, 47%, 23%);
    --primary-font: 'Red Hat Display', sans-serif;
}
html {
    font-size: 1rem;
    font-family: var(--primary-font);
    background-color: var(--p-pale-blue);
}
body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 28.125rem;
    box-shadow: 0 1.875rem 3.125rem -1.5625rem rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem;
}

.container img {
    width: 100%;
    display: block;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--p-white);
    padding: 3rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}
.text h1 {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--n-dark-blue);
    margin-bottom: 1rem;
}
.text > p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--n-desaturated-blue);
    margin-bottom: 2.8125rem;
}
.text .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5625rem;
}
.text .price .values {
    margin-left: 1.25rem;
    margin-right: 5.9375rem;
}
.text .price .values p:nth-child(1){
    font-size: 1rem;
    font-weight: 900;
    color: var(--n-dark-blue);
    margin-bottom: 0.5rem;
}
.text .price .values p:nth-child(2){
    font-size: 1.0625rem;
    font-weight: 500;
    color: var(--n-desaturated-blue);
}
.text .price a {
    font-size: 0.8125rem;
    font-weight: 900;
    color: var(--p-bright-blue);
}
.text .price a:hover {
    color: var(--p-soft-blue);
}
.text input {
    width: 22.125rem;
    border: 0;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 900;
    color: var(--p-white);
    background-color: var(--p-bright-blue);
    cursor: pointer;
    margin-bottom: 2rem;
}
.text input:hover {
    background-color: var(--p-soft-blue);
}
.text > a {
    font-size: 0.9375rem;
    font-weight: 900;
    color: var(--n-desaturated-blue);
    text-decoration: none;
}
.text > a:hover {
    color: var(--n-dark-blue);
}

/* @media (max-width: 425px) { */
@media (max-width: 26.5625rem) {
    .container {
        width: 23.5625rem;
    }
}
/* @media (max-width: 375px) { */
@media (max-width: 23.4375rem) {
    body {
        background-image: url(../images/pattern-background-mobile.svg);
    }
    .container {
        width: 20.4375rem;
    }
    .text h1 {
        font-size: 1.375rem;
    }
    .text .price .values {
        margin-right: 3.125rem;
    }
    .text .price .values p:nth-child(1) {
        font-size: 1rem;
    }
    .text input {
        width: 17.4375rem;
    }
    .text > a {
        font-size: 0.8125;
    }
}

/* @media (max-width: 320px) { */
@media (max-width: 20rem) {
    .container {
        width: 18.75rem;
    }
}